ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
DIRECT_URL=
JWT_EXPIRES_IN=
JWT_SECRET=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
SHIPROCKET_API_URL=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SMS_GATEWAY_API_KEY=
SMS_SENDER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_API_URL=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER_ID=
